# Assessment-05

## Part 1: Working with Variables, Input, and Strings

### 1. Prompt for user input

Ask the user to enter their full name and store it in a variable named full_name.

Print a greeting message, for example:

Hello, < full_name >! Welcome to the Python assignment.

In [1]:
full_name = input('Enter your full name: ')
print(f'Hello , {full_name}! Welcome to the Python assignment.')

Enter your full name: Muhammad Mateen Amjad
Hello , Muhammad Mateen Amjad! Welcome to the Python assignment.

### 2. String methods

- Print the user’s name in all uppercase letters.
- Print the user’s name in all lowercase letters.
- Print the length of the user’s name (number of characters).
- Replace all the spaces in the user’s name with hyphens (-), and print the result.
- Bonus: Trim any leading or trailing spaces (if any) from the user’s name using strip().

### 3. Type casting and numeric operations
Ask the user to enter their birth year (as input). Convert that input to an integer. Calculate the user’s approximate age by subtracting the birth year from the current year. Print the result in a sentence.

Example output: You are approximately 25 years old.

#### Example Output (Walkthrough)
Enter your full name:  John Doe

Hello, John Doe! Welcome to the Python assignment.

Your name in uppercase: JOHN DOE

Your name in lowercase: john doe

Length of your name: 8

Name with hyphens: John-Doe

Current year is 2024, so you are approximately 24 years old.

In [2]:
print('Your name is uppercase: ', full_name.upper())

Your name is uppercase:  MUHAMMAD MATEEN AMJAD

In [3]:
print('Your name is lowercase: ', full_name.lower())

Your name is lowercase:  muhammad mateen amjad

In [4]:
print('Length of your name: ', len(full_name))

Length of your name:  21

In [5]:
print('Name with hypens: ', full_name.replace(' ', '-'))

Name with hypens:  Muhammad-Mateen-Amjad

In [6]:
#it will remove before and after spaces.
clear_space = full_name.strip()
print('After applying split method:')
print(clear_space)

After applying split method:
Muhammad Mateen Amjad

In [7]:
birth_year = int(input("Enter your birth year: "))
current_year = 2026
approximate_age = current_year - birth_year
print(f'Your are approximately {approximate_age} years old.')

Enter your birth year: 2001
Your are approximately 25 years old.

## Part 2: Lists and Indexing
### 1. Create a list from user input

- Prompt the user to enter three of their favorite fruits (e.g., "apple,banana,orange") in one line, separated by commas.
- Split the string by commas to create a list called fruit_list.
- Print the list to verify that it’s correct.

### 2. List indexing and slicing

- Print the first fruit in the list.
- Print the last fruit in the list.
- Print the second fruit in the list using indexing (i.e., fruit_list[1]).
- Print the slice of the list containing the first two fruits.

### 3. List methods

- Append a new fruit to the list using append(). Print the updated list.
- Remove one fruit from the list using remove() (or pop()). Print the updated list again.
- Print the length of the list using len().

#### Example Output (Walkthrough)
Enter three of your favorite fruits (comma-separated): apple, banana, mango

Your list of fruits: ['apple', ' banana', ' mango']

First fruit: apple

Last fruit:  mango

Second fruit:  banana

First two fruits: ['apple', ' banana']

Adding a new fruit...

Updated list: ['apple', ' banana', ' mango', 'strawberry']

Removing one fruit...

Updated list: ['apple', ' banana', 'strawberry']

Length of the list is now 3

In [8]:
fruits_list = input('Enter three of your favorite fruits name: ')
fruits_list = fruits_list.split(',')
print(fruits_list)

Enter three of your favorite fruits name: apple,banana,cherry
['apple', 'banana', 'cherry']

In [9]:
print('First fruit: ', fruits_list[0])

First fruit:  apple

In [10]:
print('Last fruit: ', fruits_list[-1])

Last fruit:  cherry

In [11]:
print('Second fruit: ', fruits_list[1])

Second fruit:  banana

In [12]:
print('First two fruits, ', fruits_list[0:2])

First two fruits,  ['apple', 'banana']

In [13]:
fruits_list.append('cherry')
print("After append:", fruits_list)

After append: ['apple', 'banana', 'cherry', 'cherry']

In [14]:
fruits_list.pop(1)
print("After remove:", fruits_list)

After remove: ['apple', 'cherry', 'cherry']

In [15]:
print("Length of fruits list:", len(fruits_list))

Length of fruits list: 3

## Part 3 (Optional Challenge): Combining Concepts
### 1. String & List Interaction

- Create a new list from the letters of your full_name (excluding spaces).

- Hint: letters_list = list(full_name.replace(" ", ""))
- Print the first 3 letters and the last 3 letters of letters_list.

### 2. Manipulate and Reconstruct

- Convert the first 3 letters of letters_list to uppercase, and the rest to lowercase.
- Reconstruct the name from letters_list back into a string using "".join(...) and print it out.

### 3. Simple Arithmetic on a List of Numbers

- Prompt the user to enter 5 numbers (e.g., "10 20 30 40 50") in one line, separated by spaces.
- Convert each input into an integer and store all in a list called numbers_list.
- Print the sum of the numbers, and the average (sum / length of the list).
#### Example Output (Walkthrough)
Creating a letters list from your full name...

First 3 letters: ['J', 'o', 'h']

Last 3 letters: ['D', 'o', 'e']

Reconstructing name with some modifications...

Modified name: JOHdoe

Enter 5 numbers (space-separated): 10 20 30 40 50

Sum of your numbers: 150

Average of your numbers: 30.0

In [16]:
letters_list = list(full_name.replace(" ", ""))
print("Creating a letters list from your full name... \n")
print(letters_list)

Creating a letters list from your full name...

['M', 'u', 'h', 'a', 'm', 'm', 'a', 'd', 'M', 'a', 't', 'e', 'e', 'n', 'A', 'm', 'j', 'a', 'd']

In [17]:
print("First 3 letters: ", letters_list[:3])
print("\nLast 3 letters: ", letters_list[-3:])

First 3 letters:  ['M', 'u', 'h']

Last 3 letters:  ['j', 'a', 'd']

In [18]:
first_three = "".join(letters_list[:3]).upper()
rest = "".join(letters_list[0:]).lower()
print("Reconstructing name with some modifications...\n")
print("Modified name ", first_three)
print("Rest of the letters in lowercase: ", rest)

Reconstructing name with some modifications...

Modified name  MUH
Rest of the letters in lowercase:  muhammadmateenamjad

In [19]:
numbers = input("Enter five numbers (spaces-separated): ")
num1, num2, num3, num4, num5 = numbers.split()
num1 = int(num1)
num2 = int(num2)
num3 = int(num3)
num4 = int(num4)
num5 = int(num5)
numbers_list = [num1, num2, num3, num4, num5]
print("Numbers lis: ", numbers_list)

sum = numbers_list[0] + numbers_list[1] + numbers_list[2] + numbers_list[3] + numbers_list[4]
print("Sum of your numbers", sum)
avg = sum/5
print("Average of your numbers", avg)

Enter five numbers (spaces-separated): 1 2 3 4 5
Numbers lis:  [1, 2, 3, 4, 5]
Sum of your numbers 15
Average of your numbers 3.0